<div class="login-container">
  <div class="login-card">
    <h2>Logowanie</h2>
    <p>Zaloguj się do swojego konta</p>

    <form #loginForm="ngForm" (ngSubmit)="login()">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" [(ngModel)]="email" name="email" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Hasło</mat-label>
            <input matInput type="password" [(ngModel)]="password" name="password" required>
        </mat-form-field>

        <button mat-raised-button color="primary" class="full-width login-button" [disabled]="loginForm.invalid">Zaloguj się</button>
    </form>

    <p class="register-text">
    Nie masz konta? 
    <a routerLink="/register">Zarejestruj się</a>
    </p>

  </div>
</div>
